*/.DS_Store
.DS_Store
Lab 13/lfw-deepfunneled.tgz
Lab 13/lfw_dataset
Lab 14/lfw-deepfunneled.tgz
Lab 14/lfw_dataset
Lab 14/anime_dataset
Lab 14/dogcat_dataset
Lab 14/pokemon_dataset
*/.ipynb_checkpoints
